.gpt3__brands{
    margin-top: 30px;
    padding: 20px;

    
}
.gpt3__brands-contents{
    display: flex;
     justify-content: space-around;
    align-items:center;
   
    
}


@media screen and (max-width:1050px){
    .gpt3__brands-contents{
        font-size: 3rem;
    }
    .gpt3__brands{
        margin-top: 25px;
    }


}