.gpt3__blog-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: var(--color-blue);
}

.gpt3__blog {
  display: flex;
  flex-direction: column;
}
.gpt3__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 3rem;
}

.gpt3__blog-container {
  display: flex;
  flex-direction: row;
}
.gbpt3__blog-container__groupA {
  flex: 0.3;
  margin-right: 0.5rem;
}

.gbpt3__blog-container__groupB {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 10px;
}

.gbpt3__blog-container__groupB .gbpt3__blog-container__groupB-article{
    width: 30%;
}

@media screen and (max-width: 990px) {
  .gbpt3__blog-container__groupB {
    display: block;
  }

  .gpt3__blog-container {
    flex-direction: column-reverse;
    margin-top: 00.5rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-container {
    display: flex;
    flex-direction: column;
    margin-top: 00.5rem;
  }

  .gbpt3__blog-container__groupB {
    display: block;
  }
}
