@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text:  #fff;
  --gradient-bar: #fff ;
  --button-color:#b5179e;
  --color-bg:#11001c ;
  --color-footer : #2a085c;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}