@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg);
}
a {
  color: unset;
  text-decoration: none;
}
.gradient-bg {
  background: -moz-linear-gradient(
    90deg,
    rgba(69, 123, 157, 1) 6%,
    rgba(29, 53, 87, 1) 41%,
    rgba(29, 53, 87, 1) 59%,
    rgba(29, 53, 87, 1) 99%,
    rgba(28, 46, 70, 0.88) 99%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgba(69, 123, 157, 1) 6%,
    rgba(29, 53, 87, 1) 41%,
    rgba(29, 53, 87, 1) 59%,
    rgba(29, 53, 87, 1) 99%,
    rgba(28, 46, 70, 0.88) 99%
  );

  background: -o-linear-gradient(
    90deg,
    rgba(69, 123, 157, 1) 6%,
    rgba(29, 53, 87, 1) 41%,
    rgba(29, 53, 87, 1) 59%,
    rgba(29, 53, 87, 1) 99%,
    rgba(28, 46, 70, 0.88) 99%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C2E46', endColorstr='#457B9D', GradientType=0 );

  background: -ms-linear-gradient(
    90deg,
    rgba(69, 123, 157, 1) 6%,
    rgba(29, 53, 87, 1) 41%,
    rgba(29, 53, 87, 1) 59%,
    rgba(29, 53, 87, 1) 99%,
    rgba(28, 46, 70, 0.88) 99%
  );

  background: linear-gradient(
    90deg,
    rgba(69, 123, 157, 1) 6%,
    rgba(29, 53, 87, 1) 41%,
    rgba(29, 53, 87, 1) 59%,
    rgba(29, 53, 87, 1) 99%,
    rgba(28, 46, 70, 0.88) 99%
  );
}
.gradient-text{
  
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-padding{
  padding: 4rem 6rem;

}
.section-margin{
  margin: 4rem 6rem;
  
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

















@media screen and(max-width:700px) {

  .section-padding{
    padding: 4rem ;
  
  }
  .section-margin{
    margin: 4rem ;
    
  }
  
}

@media screen and(max-width:500px) {

  .section-padding{
    padding: 4rem 2rem;
  
  }
  .section-margin{
    margin: 4rem 2rem;
    
  }
  
}