.gpt3__header{
    display: flex;
    flex-direction: column-reverse;
}
.gpt3__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}