.gpt3__footer {
  display: flex;
  background-color: black;
  color: var(--color-blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gpt3__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #d8f3dc;
  margin-top: 2rem;
  margin-bottom: 4rem;
  cursor: pointer;
}

.gpt3__footer-btn p {
  font-family: var(--font-family);

  box-sizing: border-box;
}
.gpt3__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding: 2rem;
}
.gpt3__footer-links_logo{
    display: flex;
    flex-direction: column;
}
.gpt3__footer-links-div p{
line-height: 1.5;
font-size: 12px;
font-family: var(--font-family);
}


.gpt3__footer-copyright{
    margin-top:2rem;
    text-align: center;
    width: 100%;
}
.gpt3__footer-links_div h4{
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: 700;
}


@media screen and (max-width:850px){
    .gpt3__footer-links{
        display: flex;
        flex-direction: column;
     
    }
    .gpt3__footer-links_div h4{
        margin-top: 1.5rem;
    }
}